.header-buttons-wrapper {
    text-align: right;
    padding: 2em;
  

  .upload-wrapper{
    background: #2dadba;
    min-height: 30px;
    min-width: 100px;
    margin: 0em 1em 0em 0em;
  }
  .save-wrapper{
    background: #f75961;
    min-height: 30px;
    min-width: 100px;
  }
}
